.App {
  text-align: center;
  /* background-color: #0a9396; */
  /* background-color: blueviolet; */
}

.App-header {
  /* background-color: #282c34; */
  background-image: linear-gradient(#2b2d42, #edf2f4);

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}
h3 {
  /* background-color: blanchedalmond; */
}
